apiVersion: v1
kind: ResourceQuota
metadata:
  name: compute-resources-long-running
spec:
  hard:
    pods: 100
    limits.cpu: "{{ cpu }}"
    limits.memory: "{{ mem }}Gi"
  scopes:
  - NotTerminating
    
